body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body.dark {
    background-color: black;
    color: white;
}

#theme {
    position: absolute;
    top: 0;
    right: 0;
}